/*CASH ELEMENT*/
.cashier-screen {
  display: flex;
  border-radius: 10px;
  padding: 0.875rem;
  width: 80%;
  min-width: 10px;
  height: 750px;
  background-color: var(--neutral-500);
}
.cashier-screen__wrapper {
  background-color: var(--neutral-300);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  width: 100%;
}

.cashier-screen__content {
  display: flex;
  flex-direction: column;
  margin-block: var(--space-4);
  padding-inline: var(--space-4);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
  width: 100%;
  will-change: scroll-position;
}

.cashier-screen__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}
.mode-label {
  color: grey;
  font-size: xx-large;
  background-color: var(--soft-grey);
  margin-inline: 2rem;
  width: 25%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.mode-label-active {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: xx-large;
  background-color: var(--blue-soft);
  margin-inline: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/*Single Item*/

.plus-btn,
.minus-btn {
  margin: 1rem;
  width: 50px;
  height: 50px;
  display: inline-flex;
  background: none;
  border: none;
}
.minus-btn-disabled {
  margin: 1rem;
  width: 50px;
  height: 50px;
  filter: grayscale(70%);
  display: inline-flex;
  background: none;
  border: none;
}
.minus-btn img,
.minus-btn-disabled img {
  object-fit: contain;
}
.plus-btn:active,
.minus-btn:active {
  animation: tiltPress;
  animation-duration: 160ms;
}
