/*CASH ELEMENT*/
.cashier-screen {
  display: flex;
  border-radius: 10px;
  padding: 0.875rem;
  width: 80%;
  height: 550px;
  background-color: var(--neutral-500);
}
.cashier-screen__wrapper {
  background-color: var(--neutral-300);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  width: 100%;
}

.cashier-screen__content {
  display: flex;
  flex-direction: column;
  margin-block: var(--space-4);
  padding-top: 0.5rem;
  padding-inline: var(--space-6);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
  width: 100%;
  will-change: scroll-position;
}

.cashier-screen__header {
  color: var(--neutral-800);
  text-align: center;
}



.sngl-item{
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  }

  .sngl-item:not(:last-child) {
  border-bottom: 1px solid var(--neutral-900);
}
.sngl-item > p{
  font-size: 1.5em;
  margin: auto;
}
.plus-btn,
.minus-btn{
  margin: 1rem;
  width: 50px;
  height: 50px;
  display: inline-flex;
  background: none;
  border: none;
}
.minus-btn img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.plus-btn:active,
.minus-btn:active{
  animation: tiltPress;
  animation-duration: 160ms;
  
}


/*RECEIPT ELEMENT*/
.rcpt-container{
 display: flex;
 position: relative;
  margin-left: 25px;
  min-width: 150px;
}
.rcpt-img-wrapper{
  position: relative;
  width: 400px;
  height: 600px;
  margin-left: 10px;
}
.img-rcpt{
  position: relative;
  height: 100%;
  width: 100%;
}
.rcpt-total{
  position: absolute;
  bottom: 8rem;
  left: 3rem;
}

.rcpt-items{
  position: absolute;
  left: 3rem;
  top: 7rem;
  font-size: 0.8rem;
  max-height: 40%;
  width: 80%;
  overflow-y: auto;
}
.rcpt-items table th {
  width: 2.5em;
  table-layout:auto; 
  font-size: 1.1em; 
}
.rcpt-items table td {
  font-size: 1.4em; 
}
.rcpt-items table tbody tr:nth-child(odd){
  background-color: rgba(0, 0, 0, 0.089);
}
.add-btn,.remove-btn{
  width: 15px;
  height: 15px;
  background: none;
  border: none;
}
