:root {
  /* Colors*/
  --neutral-100: oklch(99% 0 0);
  --neutral-200: oklch(95% 0 0);
  --neutral-300: oklch(93% 0 0);
  --neutral-400: oklch(45% 0 0);
  --neutral-500: oklch(35% 0 0);
  --neutral-600: oklch(29.6% 0 0);
  --neutral-700: oklch(26.7% 0 0);
  --neutral-800: oklch(15% 0 0);
  --neutral-900: oklch(10% 0 0);

  --shadow: oklch(35% 0 0 / 0.3);
  --gradient-fallback: oklch(88% 0 0);
  --gradient-start: oklch(90% 0 0);
  --gradient-end: oklch(85% 0 0);
  --gradient: linear-gradient(to bottom, var(--gradient-start) 0%, var(--gradient-end) 100%);

  /*Colors Vibrant*/
  --dynamic-bg1: linear-gradient(
    50deg,
    oklch(63.184% 0.14697 155.744),
    oklch(89.095% 0.0918 85.097)
  );
  --dynamic-bg2: linear-gradient(50deg, var(--neutral-700), var(--blue-dark), var(--perfect-green));
  --dynamic-bg3: linear-gradient(
    45deg,
    var(--neutral-700) 20%,
    var(--blue-dark) 50%,
    var(--perfect-green) 100%
  );
  --gradient-label2: linear-gradient(
    50deg,
    oklch(62.793% 0.25768 29.223 / 0.709),
    var(--neutral-700)
  );
  --gradient-label: linear-gradient(
    to right,
    oklch(55.012% 0.22576 29.223 / 0.788) 0%,
    var(--neutral-700) 30%,
    var(--blue-dark) 75%
  );
  --dynamic-bg: linear-gradient(
    50deg,
    var(--neutral-700),
    var(--blue-dark),
    oklch(81.171% 0.24266 146.175)
  );
  --vibrant-blue: oklch(20% 0.13116 261.983 / 0.627);
  --white-active: oklch(93.1% 0.00011 271.152 / 0.751);
  --blue-soft: oklch(51.046% 0.1112 258.327 / 0.504);
  --blue-velvet: oklch(51.046% 0.1112 258.327 / 0.24);
  --blue-dark: oklch(37.525% 0.09995 258.214 / 0.902);
  --green-soft: oklch(63.164% 0.1479 155.395 / 0.414);
  --green-btn: linear-gradient(
    50deg,
    oklch(67.785% 0.2028 145.245 / 0.729),
    oklch(86.935% 0.27168 145.232 / 0.709)
  );
  --red-btn: linear-gradient(
    50deg,
    oklch(63.818% 0.18939 24.21 / 0.788),
    oklch(62.793% 0.25768 29.223 / 0.709)
  );
  --del-mode: oklch(49.853% 0.18619 27.342 / 0.28);
  --gray-soft: oklch(80% 0 0);
  --gray-velvet: oklch(90% 0 0);
  --perfect-green: oklch(81.171% 0.24266 146.175);
  --green-velvet: oklch(61.918% 0.14965 153.932 / 0.346);
  --blue-abyss: oklch(26.673% 0.08294 258.471);
  --blue-abyss: oklch(26.673% 0.08294 258.471);

  /* Spacing */
  --space-0: 0rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 3rem;
  --space-8: 4rem;

  /* Typography */
  --font-family-base: 'Inter', system-ui, sans-serif;
  --font-family-receipt: monospace;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;

  --v-amplitude: 1px; /* how far */
  --v-rotate: 0.2deg; /* how much */
  --v-speed: 70ms; /* how fast */
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-color: var(--gradient-fallback);
  background-image: var(--gradient);
  background-repeat: no-repeat;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button,
input,
select,
textarea,
a {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

input,
textarea {
  user-select: text;
}

textarea {
  overflow: auto;
}

:focus {
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--neutral-300);
  outline-offset: 2px;
}

[role='button'],
button {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

[role='button']:focus-visible,
button:focus-visible {
  outline: 2px solid var(--neutral-300);
  outline-offset: 2px;
}

#page-transition {
  min-height: calc(100dvh - 8rem);
  overflow: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 300ms ease;
}

.non-interactive {
  pointer-events: none;
  user-select: none;
  touch-action: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tiltPress {
  0% {
    transform: scale(1.2) translate(0, 0) rotate(0deg);
  }
  50% {
    transform: scale(1) translate(1px, 1px) rotate(1deg);
  }
  100% {
    transform: scale(1.2) translate(0, 0) rotate(0deg);
  }
}

@keyframes vibrateDel {
  0% {
    transform: translate(0) rotate(0);
  }
  20% {
    transform: translate(calc(-1 * var(--v-amplitude)), var(--v-amplitude))
      rotate(calc(-1 * var(--v-rotate)));
  }
  40% {
    transform: translate(calc(-1 * var(--v-amplitude)), calc(-1 * var(--v-amplitude)))
      rotate(calc(var(--v-rotate) * 0.8));
  }
  60% {
    transform: translate(var(--v-amplitude), var(--v-amplitude)) rotate(calc(var(--v-rotate) * 0.8));
  }
  80% {
    transform: translate(var(--v-amplitude), calc(-1 * var(--v-amplitude)))
      rotate(calc(-1 * var(--v-rotate)));
  }
  100% {
    transform: translate(0) rotate(0);
  }
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}
