body{
  background: linear-gradient(rgb(203,203,203),rgb(164, 182, 164));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
  color: black;
}

/*CASH ELEMENT*/
.cash{
  
  display: flex;
  flex-direction: row;
  border: solid black;
  position: relative;
  width: 800px;
  height: 800px;
  float: left;
  margin-left: 20px;
}
.drinks,.food{
  border: solid black;
  display: flex;
  flex-direction: column;
  margin:auto;
  width: 40%;
  height: 90%;
  
}
.btn-section{
  max-height: fit-content;
  overflow-y: auto;
  margin-top: 10px;
  margin-right: 35px;
  margin-left: 15px;
}
.btn-section>*{
  padding: 10px;
}
.cash h1{
  margin-right: auto;
  margin-left: auto;
}

.sngl-item{
  display: flex;
  flex-direction: row;
  }
.sngl-item > p{
  font-size: 1.5em;
  margin: auto;
}
.plus-btn{
  width: 50px;
  height: 50px;
  display: inline-flex;
  background: none;
  border: none;
}
.plus-btn:active{
  animation: btnPress;
  animation-duration: 150ms;
  
}


/*RECEIPT ELEMENT*/
.rcpt-container{
 display: flex;
 position: relative;
  margin-left: 25px;
  min-width: 150px;
}
.rcpt-img-wrapper{
  position: relative;
  width: 400px;
  height: 600px;
  margin-left: 10px;
}
.img-rcpt{
  position: relative;
  height: 100%;
  width: 100%;
}
.rcpt-total{
  position: absolute;
  bottom: 8rem;
  left: 3rem;
}

.rcpt-items{
  position: absolute;
  left: 3rem;
  top: 7rem;
  font-size: 0.8rem;
  max-height: 40%;
  width: 80%;
  overflow-y: auto;
}
.rcpt-items table th {
  width: 2.5em;
  table-layout:auto; 
  font-size: 1.1em; 
}
.rcpt-items table td {
  font-size: 1.4em; 
}
.rcpt-items table tbody tr:nth-child(odd){
  background-color: rgba(0, 0, 0, 0.089);
}
.add-btn,.remove-btn{
  width: 15px;
  height: 15px;
  background: none;
  border: none;
}


/*NAVBAR*/
.nav-bar{
  display: flex;
  flex-direction: row;
  height: 5rem;
  margin: 50px auto;
  align-items: flex-end;
  justify-content: center;
  
}
.nav-btn{
  background-color: rgb(101, 211, 255);
  color: black;
  text-shadow: 0px 0px 5px gray;
  font-size: 20px;
  text-decoration: none;
  box-shadow: 0px 0px 5px rgb(54, 54, 54);
  border-radius: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 4rem;
  width: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.nav-btn:active{
  animation: btnPress;
  animation-duration: 200ms;
  
}



@keyframes btnPress{
  /*from{
    background-color: rgb(101, 211, 255);
    height: 4rem;
    
  }
  to{
    background-color: rgb(149, 225, 255);
    height: 3.4rem;
  }*/
  50%{transform: scale(0.7 ,0.7);}
}

@keyframes trill{
  from{

  }
  to{

  }
}
