*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  overflow-x: hidden;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-transition {
  min-height: calc(100vh - 8rem);
}

body {
  background-color: rgb(203, 203, 203);
  background-image: linear-gradient(rgb(203, 203, 203), rgb(164, 182, 164));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1 {
  color: black;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 300ms ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tiltPress {
  0% {
    transform: translate(0, 0) rotate(0deg);
    transform: scale(1.2);
  }
  50% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
