.display-elements {
  display: flex;
  height: 100%;
  width: 100%;
}

.display-elements__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.display-elements__list {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: pan-y;
  will-change: scroll-position;
  -webkit-overflow-scrolling: touch;
}

.display-elements__labels {
  background-color: var(--neutral-500);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: var(--neutral-100);
  display: grid;
  gap: 1rem;
  grid-template-columns: 300px 80px 100px;
  margin-top: 1rem;
  padding-block: 0.725rem;
  padding-inline: 1rem;
}
