.display-elements {
  display: flex;
  height: 100%;
  width: 100%;
}

.display-elements__wrapper {
  contain: layout paint;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.display-elements__list {
  backface-visibility: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  contain: paint;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateZ(0);
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.display-elements__labels {
  backface-visibility: hidden;
  display: grid;
  position: relative;
  transform: translateZ(0);
  will-change: transform;
  z-index: 2;
}

.display-elements__labels-left {
  display: grid;
  gap: 6rem;
}

.display-elements__labels-right {
  display: grid;
  gap: 2rem;
}
