.sngl-item {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 150px 1fr 1fr 100px;
  align-items: center;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.sngl-item:nth-of-type(even) {
  background-color: var(--blue-velvet);
  transition:
    background-color 0.2s ease,
    transform 0.5s ease;
}
.display-element-DelMode .sngl-item:nth-of-type(even) {
  background-color: var(--del-mode);
}
.sngl-item:not(:last-child) {
  border-bottom: 1px solid var(--neutral-900);
}
.sngl-item:not(:first-child) {
  border-top: 1px solid var(--neutral-900);
}

.label,
.label-DelMode {
  background-image: var(--gradient-label);
  background-size: 300% 100%;
  border-radius: 3px;
  color: var(--neutral-300);
  transition: background-position 1s ease;
}
.label {
  background-position: 50% 0;
}
.label-DelMode {
  background-position: 0% 0;
}

.sngl-item > span {
  font-size: 1.2em;
  font-weight: 400;
}

.extra,
.label-1 {
  grid-column: 1;
  justify-self: start;
}
.first-record,
.label-2 {
  grid-column: 2;
  text-align: center;
}
.second-record,
.label-3 {
  grid-column: 3;
  text-align: center;
}
.action-record,
.label-4 {
  grid-column: 4;
  justify-self: end;
}
.action-record {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem; /* spazio tra i due bottoni */
  flex-wrap: nowrap; /* evita che vadano a capo */
}

.red-cross {
  margin: 1rem;
  width: 50px;
  height: 55px;
}
.slide-button {
  margin: 1rem;
  width: 55px;
  height: 55px;
}

.sngl-item:nth-of-type(even) .slide-button {
  filter: saturate(50%);
}

.info-button {
  cursor: pointer;
  transition: transform 1s ease-in-out;
  touch-action: manipulation;
}
.info-button-active {
  color: brown;
}
.allergensPopOver {
  position: absolute;
  border-radius: 0.5rem;
  left: 5%;
  margin-left: 0.5rem;
  padding: 0.5rem;
  top: 0;
  background-color: var(--blue-dark);
  color: var(--neutral-300);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.412);
  z-index: 10;
}

@keyframes slide-left {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 0% 0;
  }
}
@keyframes slide-right {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 50% 0;
  }
}
