
.numeric {
  grid-template-columns: repeat(3, 1fr);
  max-width: 240px;
}

.alphabet {
  display: grid;
  /* gap: 0.5rem; */
  width: 100%;
  max-width: 600px;
}
.row {
  display: grid;
  /* gap: 5px; */
  justify-content: center;
  grid-auto-rows: 3rem;
}

/*QWERTYUIOP*/
.row1 { 
  grid-template-columns: repeat(10, 3rem);
 } 
 /*ASDFGHJKL*/
.row2 { 
  grid-template-columns: repeat(9, 3rem); 
} 
/*ZXCVBNM*/
.row3 { 
  grid-template-columns: repeat(7, 3rem); 
} 

/* Stile dei tasti */
.key {
  grid-area: 1;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: var(--blue-dark);
  color: white;

  border: 1px solid var(--neutral-700);
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.key:active{
  background-color: aqua;
}


.keypad__key {

  grid-area: 1;
  align-items: center;
  background-color: var(--neutral-200);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 0.2s;
}

.keypad__key-numeric {
  width: 70px;
  height: 60px;
}

.keypad__key-alphabet {
  width: 50px;
  height: 50px;
}

.keypad__key:active {
  background-color: var(--neutral-300);
}

.keypad__key-delete {
  background-color: oklch(0.8643 0.1518 24.74);
  color: oklch(0.4284 0.2513 27.95);
}

.space-bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;       
  height: 40px;      
  margin: 4px;
  border-radius: 6px;
  border: 1px solid #888;
  background-color: #f0f0f0;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, transform 0.1s;
}

.space-bar:active {
  background-color: #ddd;
  transform: scale(0.97);
}
