.page-wrapper {
  display: flex;
  justify-content: center;
  gap: var(--space-6);
  padding-top: 10rem;
  padding-bottom: var(--space-4);
  padding-inline: var(--space-6);
  height: 100vh;
}

.page-wrapper.login-page {
  padding-top: 0;
  gap: 0;
  padding-inline: 0;
  padding-bottom: 0;
  flex-direction: column;
  justify-content: center;
}

#page-transition {
  view-transition-name: page;
  background-color: var(--gradient-fallback);
  background-image: var(--gradient-main);
}
