.display-elements-wrapper{
    display: flex;
    flex-direction: column;
}

.display-element{
    width: 100%;
    height: 100%;
}

.display-element-DelMode .sngl-item > *{
    animation: vibrateDel 400ms infinite linear;
    will-change: transform;
}

.sngl-item{
  width: 100%;
  border-radius: 1px;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

/*NTH (odd/even) logic*/
.sngl-item:nth-of-type(even){
  background-color: var(--blue-velvet);
  transition: background-color 0.2s ease, transform 0.5s ease;
}
.display-element-DelMode .sngl-item:nth-of-type(even){
  background-color: var(--del-mode);
}
.sngl-item:not(:last-child) {
  border-bottom: 1px solid var(--neutral-900);
}
.sngl-item:not(:first-child) {
 border-top: 1px solid var(--neutral-900);
}

.exclamation-triangle{
  margin: auto;
  flex: 0.5;
}
.product-name{
  flex: 2;
  font-size: var(--font-size-xl);
}
.product-price{
  flex: 1;
}
.sngl-item > p{
  font-size: 1.5em;
  margin: auto;
}