.elements-container {
  height: 100%;
}

.display-element-DelMode,
.display-element {
  position: relative;
  min-height: 450px;
  flex: 1;
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.display-element-DelMode .sngl-item > * {
  animation: vibrateDel 400ms infinite linear;
  will-change: transform;
}
