.table {
  flex: 1;
  transition: all 0.4s ease;
  overflow: hidden;
  padding: 0.5rem;
  border-radius: 5px;
}

.table.active {
  flex: 3;
  background-color: #f5f5f5;
}

.table:not(.active) {
  flex: 1;
  background-color: #c7c7c7;
}

.table:not(.active) .table__body {
  pointer-events: none;
  opacity: 0.5;
}

.table__header {
  background: #444;
  color: white;
  padding: 1rem;
  cursor: pointer;
  border: #444;
  border-radius: 5px;
}

.table__body {
  padding: 1rem;
}
