.form {
  display: grid;
  gap: var(--space-5);
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  white-space: nowrap;
}

.form__columns {
  display: contents;
  grid-row: 1;
}

.form__column {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-4);
  align-items: flex-start;
}

.form__field {
  display: flex;
  padding: 1rem;
  padding-top: 2rem;
  align-items: center;
  flex-direction: column;
  gap: var(--space-1);
  width: 100%;
  height: 100%;
}

.form__input {
  border: 2px solid var(--neutral-700);
  border-radius: 5px;
  height: 2.5rem;
  margin-bottom: 1rem;
  width: 70%;
}

.form__button-wrapper {
  grid-column: 3;
  display: flex;
  width: 100%;
  justify-content: center;
}

.form__button {
  align-items: center;
  background-image: linear-gradient(
    45deg,
    oklch(49.119% 0.08523 187.271 / 0.859),
    var(--blue-dark)
  );
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: x-large;
  width: 80%;
  height: 5rem;
  padding-block: 1rem;
  padding-inline: 2rem;
}

.form__button:active {
  background-image: linear-gradient(
    45deg,
    oklch(60.908% 0.10611 186.608 / 0.859),
    var(--blue-soft)
  );
  transform: scale(0.95);
}

.check-icon-wrapper {
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  height: 20px;
  justify-content: center;
  width: 30px;
}

.insert-item .dropdown__trigger[data-state='open'] .rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.insert-item .dropdown__trigger .rotate {
  transition: transform 0.3s ease;
}

.insert-item .dropdown__content {
  max-height: 400px;
  width: 100%;
}

.form__field.dropdown {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.checkBox {
  transform: scale(2.5);
  margin-left: 12px;
}

.mode-switcher {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* padding: 0.5rem 1rem; */
  color: var(--neutral-700);
}

.mode-switcher__content {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 36px;
}

.mode-switcher__content input {
  opacity: 0;
  width: 0;
  height: 0;
}

.mode-switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-200);
  transition: background-color 0.5s ease;
  border-radius: 50px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.263);
}

.mode-switcher__slider::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  left: 4px;
  top: 4px;
  background-color: var(--neutral-400);
  border-radius: 50%;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}
input:checked + .mode-switcher__slider {
  background-color: var(--blue-dark);
}

input:checked + .mode-switcher__slider::before {
  transform: translateX(44px);
  background-color: var(--neutral-200);
}

.mode-switcher__label {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  user-select: none;
}
