/* Receipt styling */
.receipt {
  background-image: url('@assets/receipt.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: var(--font-family-receipt);
  min-height: 685px;
  padding-top: 7.875rem;
  padding-inline: var(--space-5);
  padding-bottom: var(--space-6);
  position: relative;
  width: 400px;
}

.receipt__table-wrapper {
  height: calc(100% - 350px);
  margin-left: var(--space-2);
  margin-right: var(--space-5);
  position: absolute;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.receipt__content {
  border-collapse: collapse;
  font-size: var(--font-size-sm);
  table-layout: fixed;
  width: 100%;
}

.receipt__content thead th {
  background-color: var(--neutral-200);
  padding-block: var(--space-2);
  padding-inline: var(--space-5);
  position: sticky;
  top: 0;
  text-align: left;
  z-index: 2;
}

.receipt__content tfoot td {
  background-color: var(--neutral-200);
  font-weight: var(--font-weight-bold);
  padding-block: var(--space-2);
  padding-inline: var(--space-5);
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.receipt__content td {
  padding-block: var(--space-2);
  padding-inline: var(--space-5);
  text-align: left;
}

.receipt__total {
  font-size: var(--font-size-sm);
}
