.header-vibrant {
  background: var(--dynamic-bg);
  background-size: 200% 200%;
  height: 8rem;
  padding-inline: var(--space-6);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  /*transition: background-color 0.3s ease;*/
  animation: gradient-translation 8s ease infinite;
}

.header__wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

#header-transition {
  view-transition-name: header;
}

@keyframes gradient-translation {
      0% { background-position: 0% 0%; }
      50% { background-position: 75% 100%; }
      100% { background-position: 0% 0%; }
    }
