.item {
  background-color: var(--neutral-100);
  color: var(--neutral-800);
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  position: relative;
  user-select: none;
  transition:
    transform 0.2s ease-out,
    background-color 0.2s ease-out;
  touch-action: pan-y;
  width: 100%;
  will-change: tranform;
}

.item:not(:last-child) {
  border-bottom: 1px solid var(--neutral-300);
}

.item__info,
.item__actions {
  position: relative;
  z-index: 1;
}

.item__info {
  align-items: center;
  display: grid;
  overflow-y: visible;
  width: 100%;
}

.item__actions {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  margin-left: 1rem;
}
