.selected-items {
  color: var(--neutral-900);
  width: 12ch;
}

.selection-btn {
  color: oklch(51.3% 0.09 199.5);
}

.toolbar__button:disabled,
.toolbar__button.trigger:disabled {
  color: var(--neutral-400);
}

.toolbar__button:active:not(:disabled) {
  color: var(--neutral-700);
}

.toolbar__button.trigger {
  background-color: transparent;
  color: oklch(62.5% 0.27 27);
}
