.dropdown {
  position: relative;
  width: fit-content;
}

.dropdown__trigger[disabled] {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

.dropdown__trigger {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  gap: var(--space-1);
  outline: none;
}

.dropdown__wrapper {
  max-width: 20rem;
  min-height: var(--space-7);
  min-width: 12rem;
  position: absolute;
  top: 100%;
  z-index: 9999;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.dropdown__content {
  background-color: var(--neutral-100);
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px var(--shadow);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 200px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.dropdown__option {
  align-items: center;
  display: flex;
  color: var(--neutral-900);
  cursor: pointer;
  font-size: 1.125rem;
  gap: var(--space-2);
  min-height: var(--space-7);
  padding-inline: var(--space-4);
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background 0.2s;
  white-space: nowrap;
}

.dropdown__option[data-selected] {
  background-color: var(--neutral-300);
}

.dropdown__submenu-trigger {
  align-items: center;
  background-color: none;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  vertical-align: middle;
  width: 100%;
}

.dropdown__submenu-wrapper {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-height: var(--space-7);
  position: fixed;
  width: 200px;
  z-index: 1000;
}

.dropdown__submenu-content {
  height: 100%;
  max-height: 200px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
