.dropdown {
  position: relative;
  width: fit-content;
}

.dropdown__trigger {
  background-color: transparent;
  border: none;
  outline: none;
}

.dropdown__wrapper {
  max-width: 20rem;
  min-height: var(--space-7);
  min-width: 12rem;
  position: absolute;
  top: 100%;
  z-index: 9999;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.dropdown__content {
  background-color: var(--neutral-200);
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px var(--shadow);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 200px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.dropdown__option {
  align-items: center;
  display: flex;
  color: var(--neutral-900);
  cursor: pointer;
  font-size: 1.125rem;
  gap: var(--space-2);
  min-height: var(--space-7);
  padding-inline: var(--space-4);
  transition: background 0.2s;
}

.dropdown__option[data-selected] {
  background-color: var(--neutral-300);
}
