.settings__link,
.settings__sublink {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  font-family: var(--font-family-base);
  font-size: var(--font-size-lg);
  padding-inline: 1rem;
  padding-block: 0.875rem;
  border-radius: 16px;
  color: var(--neutral-900);
  width: 100%;
}

.settings__link {
  background-color: oklch(78% 0 0);
}

.settings__link.active {
  background-color: var(--neutral-400);
  color: var(--neutral-200);
}

.settings__chevron {
  margin-left: auto;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.settings__label.active {
  background-color: var(--neutral-400);
  color: var(--neutral-200);
}

.settings__submenu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 2rem;
  padding-top: 1rem;
}

/* .settings__sublink {
  margin-left: 1rem;
} */

.settings__sublink.active {
  background-color: transparent;
  color: oklch(51.3% 0.09 199.5);
}
