.table__controls {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: end;
  position: relative;
  width: 100%;
  z-index: 1;
}

.table__controls-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table__controls-inner-wrapper {
  display: flex;
}

.check-icon-wrapper {
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  height: 20px;
  justify-content: center;
  width: 30px;
}
