.form {
  color: var(--neutral-800);
  display: grid;
  grid-template-columns: 1.5fr auto 1.5fr;
  row-gap: 2rem;
  column-gap: 5rem;
  max-width: 1600px;
  margin: 0 auto;
  padding-block: 4rem;
  align-items: start;
}

.form__columns {
  display: contents;
  grid-row: 1 / span 2;
}

.form__column {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: fit-content;
}

.form__input {
  border: 1px solid black;
}
.checkbox__wrapper {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  user-select: none;
}

.checkbox__wrapper input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__custom {
  align-items: center;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: flex;
  height: 32px;
  justify-content: center;
  margin-right: 10px;
  transition: all 0.2s;
  width: 32px;
}

.checkbox__custom::after {
  content: '';
  border: solid oklch(51.3% 0.09 199.5);
  border-width: 0 3px 3px 0;
  display: none;
  height: 16px;
  margin-bottom: 2px;
  transform: rotate(45deg);
  width: 12px;
}

.checkbox__wrapper input:checked + .checkbox__custom::after {
  display: block;
}

.checkbox__wrapper:active .checkbox__custom {
  background-color: #f0f0f0;
  border-color: oklch(51.3% 0.09 199.5);
  transform: scale(0.95);
}

.checkbox__wrapper input:checked + .checkbox__custom {
  border-color: oklch(51.3% 0.09 199.5);
}

.checkbox__wrapper input:checked + .checkbox__custom + span {
  color: oklch(51.3% 0.09 199.5);
}

.form__button-wrapper {
  display: flex;
  justify-content: center;
  gap: var(--space-6);
  grid-row: 3;
  grid-column: 1 / -1;
  margin-left: 0;
}

.form__button {
  background-color: var(--neutral-700);
  border-radius: 10px;
  color: var(--neutral-300);
  padding-block: 1rem;
  padding-inline: 2rem;
}

.form__button[disabled] {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

.check-icon-wrapper {
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  height: 20px;
  justify-content: center;
  width: 30px;
}

.insert-item .dropdown__trigger[data-state='open'] .rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.insert-item .dropdown__trigger .rotate {
  transition: transform 0.3s ease;
}

.insert-item .dropdown__content {
  max-height: 300px;
}
