.item.selected {
  background-color: var(--neutral-400);
  color: var(--neutral-200);
}

.item__swipe-progress {
  background-color: var(--neutral-300);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transform: translateX(calc((1 - var(--swipe-progress, 0)) * 100%));
  transform-origin: right;
  transition: transform 0.1s ease-out;
  width: 100%;
  z-index: 0;
}

.item__swipe-progress.visible {
  will-change: transform;
}

.icon-wrapper {
  align-items: center;
  display: inline-flex;
  position: relative;
}

.icon {
  height: 0.875rem;
  width: 0.875rem;
}

.item__swipe-hint {
  color: var(--neutral-800);
  display: flex;
  font-size: 1.125rem;
  gap: 0.5rem;
  animation: pulse-opacity 3s ease-in-out infinite;
}

.allergens__wrapper {
  align-items: center;
  display: flex;
  gap: 0.375rem;
}

.allergens__row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  width: 100%;
}

.allergens__list {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.allergens__item {
  background-color: var(--neutral-300);
  border-radius: 1.125rem;
  color: var(--neutral-800);
  font-size: 1rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  padding: 0.25rem 0.825rem;
}

.allergens__info {
  align-items: center;
  border: none;
  display: flex;
  flex-shrink: 0;
  gap: 0.3rem;
  justify-content: center;
}

.allergens__info-label {
  color: oklch(51.3% 0.09 199.5);
  font-size: 0.825rem;
}

.allergens-modal__header,
.allergens-modal__footer {
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.allergens-modal__header {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.allergens-modal__separator {
  background-color: var(--neutral-400);
  height: 1px;
  width: 100%;
}

.allergens-modal__trigger {
  font-size: 0.875rem;
}

.allergens-modal__description {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 400px;
}

@keyframes pulse-opacity {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.48;
  }
}
