/* Receipt styling */
.receipt {
  background-image: url('../../assets/receipt.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: var(--font-family-receipt);
  min-height: 600px;
  padding-top: 9.725rem;
  padding-inline: var(--space-5);
  padding-bottom: var(--space-6);
  position: relative;
  width: 400px;
}

.receipt__table-wrapper {
  margin-inline: var(--space-5);
  max-height: 350px;
  position: relative;
  overflow-y: auto;
}

.receipt__content {
  border-collapse: collapse;
  font-size: var(--font-size-xs);
  table-layout: fixed;
  width: 100%;
}

.receipt__content thead th {
  background-color: var(--neutral-200);
  padding-block: var(--space-2);
  padding-inline: var(--space-5);
  position: sticky;
  top: 0;
  text-align: left;
  z-index: 2;
}

.receipt__content tfoot td {
  background-color: var(--neutral-200);
  font-weight: var(--font-weight-bold);
  padding-block: var(--space-2);
  padding-inline: var(--space-5);
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.receipt__content td {
  padding-block: var(--space-2);
  padding-inline: var(--space-5);
  text-align: left;
}

.receipt__total {
  font-size: var(--font-size-sm);
}
