.toolbar {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: space-between;
}

.toolbar__section {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding-inline: 1rem;
}

.toolbar__button {
  padding-block: 0.625rem;
  padding-inline: 1rem;
}

.toolbar__button.trigger:disabled {
  color: grey;
}

.toolbar__button.trigger {
  background-color: transparent;
  color: red;
}
