.toolbar {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: space-between;
}

.toolbar__section {
  align-items: center;
  display: flex;
  padding-inline: 1rem;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.toolbar__button {
  color: var(--neutral-900);
  padding-block: 0.625rem;
  padding-inline: 1rem;
}
