.navbar__list {
  align-items: center;
  display: flex;
  gap: var(--space-6);
  height: 100%;
}

.navbar__link {
  border-radius: 10px;
  font-size: var(--font-size-lg);
  padding-block: var(--space-5);
  padding-inline: var(--space-6);
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.2s,
    transform 0.1s;
  width: fit-content;
  white-space: nowrap;
}

.navbar__link:active {
  transform: scale(0.97);
}

.navbar__link:focus-visible {
  outline-offset: 2px;
}

.minimal .navbar__link {
  background-color: var(--neutral-500);
  box-shadow: 0px 0px 5px var(--neutral-600);
  color: var(--neutral-100);
}

.minimal .navbar__link:active {
  background-color: var(--neutral-400);
}

.minimal .navbar__link:focus-visible {
  outline: 2px solid var(--neutral-100);
}

.minimal .active {
  background-color: var(--neutral-300);
  color: var(--neutral-900);
}

.vibrant .navbar__link {
  background-color: var(--blue-dark);
  color: white;
}
