.item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.item__name {
  font-size: var(--font-size-xl);
}

.item__btns-container {
  align-items: center;
  display: flex;
  gap: var(--space-6);
}

.item__plus-btn,
.item__minus-btn {
  display: inline-flex;
  background: none;
  border: none;
  height: 40px;
  width: 50px;
}
.item__minus-btn img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.item__plus-btn:active,
.item__minus-btn:active {
  animation: tiltPress;
  animation-duration: 160ms;
}
