.settings-wrapper {
  position: absolute;
  left: 0;
  display: flex;
  background-color: var(--grey-velvet);
  padding: var(--space-7);
}
.settings__link {
  padding: var(--space-3);
  margin: var(--space-3);
  width: 90%;
  text-align: center;
  font-family: var(--font-family-base);
  font-size: var(--font-size-lg);
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--neutral-500);
  color: var(--neutral-100);
  background-color: var(--blue-dark);
}
.settings__link.active {
  background-color: var(--blue-velvet);
  color: var(--neutral-900);
}

.settings-container li:first-child {
  background-color: var(--neutral-300);
  color: var(--neutral-900);
}
